.Nav {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.Nav-links {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
}

.Nav-links li {
  display: inline-block;
}

.Nav-brand {
  display: inline-block;
  padding: 15px 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.8em;
  background-color: rgba(0,0,0,0.6);
  text-shadow: 0 1px 0 #333;
  color: #fff;
}

.Nav-links a {
  text-decoration: none;
  border-bottom: 0;
  border-right: 1px solid #eee;
  color: #333;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 15px 20px;
  transition-timing-function: ease-in;
  transition: box-shadow .5s cubic-bezier(.175,.885,.32,1.275);
}


.Nav-links a:hover {
  background-color: #eee;
}

.Nav-links .Nav-link-active {
  box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.6);
}
